/*:root {
  --primary: #ffd100;
  --secondary: #900;
  --textColor: #000;
  --textHoverColor: #09c;
  --invertedTextColor: #fff;
  --greyLight: #f0f0f0;
  --greyDark: #ddd;
  --shadowColor: rgba(0,0,0,.2);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 4rem 0;
  line-height: 1.5rem;
}*/
