bodyFontFallback = "Helvetica Neue", Helvetica, Arial, sans-serif
bodyFont = "Source Sans Pro", bodyFontFallback
titleFont = bodyFont
serifTitleFontFallback = Georgia, Times, serif
serifTitleFont = "Arbutus Slab", RobotoDraft, Lato, serifTitleFontFallback

displayFlex()
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display flex

justifyContent()
	-webkit-justify-content arguments
	-moz-justify-content arguments
	-ms-justify-content arguments
	justify-content arguments

doFlex()
	-webkit-flex arguments
	-moz-flex arguments
	-ms-flex arguments
	flex arguments

alignItems()
	-webkit-align-items arguments
	-moz-align-items arguments
	-ms-align-items arguments
	align-items arguments

flexFlow()
	-webkit-flex-flow arguments
	-moz-flex-flow arguments
	-ms-flex-flow arguments
	flex-flow arguments

order()
	-webkit-order arguments
	-moz-order arguments
	-ms-order arguments
	order arguments

flexDirection()
	-webkit-flex-direction arguments
	-moz-flex-direction arguments
	-ms-flex-direction arguments
	flex-direction arguments

flexWrap()
	-webkit-flex-wrap arguments
	-moz-flex-wrap arguments
	-ms-flex-wrap arguments
	flex-wrap arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	transform arguments

transformOrigin()
	-webkit-transform-origin arguments
	-moz-transform-origin arguments
	-ms-transform-origin arguments
	transform-origin arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	animation arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	transition arguments

animationFillMode()
	-webkit-animation-fill-mode arguments
	-moz-animation-fill-mode arguments
	-ms-animation-fill-mode arguments
	animation-fill-mode arguments

animationDelay()
	-webkit-animation-delay arguments
	-moz-animation-delay arguments
	-ms-animation-delay arguments
	animation-delay arguments

fontSmoothing()
	-webkit-font-smoothing arguments
	-moz-font-smoothing arguments
	-ms-font-smoothing arguments
	font-smoothing arguments

filter()
	-webkit-filter arguments
	-moz-filter arguments
	-ms-filter arguments
	filter arguments

perspective()
	-webkit-perspective arguments
	-moz-perspective arguments
	-ms-perspective arguments
	perspective arguments
